<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>绝地求生</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        body {
            margin:0;
        }
    </style>
</head>
<body>   
    @RenderBody()
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

@RenderSection("Js")

</html>